{%extends 'base.html' %}

{% block title %}Home/
{% endblock title %}

{%block body %}
<div class="container-fluid  px-0"><div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/welcome.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark my-2 border-radius:65px">
        <h2>Welcome to Aapki Apni Pasand</h2>
        <h5>We are here to provide your all essentials grocery| food| kitchen| dryfruit item's at your door</h5>
        <h6>Now you can order your all kirana items just on one call.</6>
        
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/second.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark border-radius:65px">
        <h3>We serve the best quality products at best price.</h3>
        <p>Call us anytime you will get quicker response from our side.</p>
        <h5>What is other better option than this if you are getting all your things at your door on just one call at market price.</h5>
      </div>
    </div>
     <div class="carousel-item">
      <img src="/static/images/bigbazaar.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none bg-dark d-md-block  ">
        <h3>In this time of corona virus also you are getting all your neccessary item at your home</h3>
        <p>Because we believe on customer satisfaction without their any risk of health.</p>
        <p>What the items we can deliver you for more details click on service menu.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/d1.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark border-radius:65px">
        <h3>We deliver Chiken | Fish | Dry fruits | Vegetables and all Grocery product</h3>
        <h5>Visit our site for more details about the products , and feel free to order your items anytime </h5>
        <p>We deliver products all over Muzaffarpur.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/d18.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block bg-dark border-radius:65px">
        
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>
{% comment %} <div class="container my-3">
<div class="col-md-8 blog-main ">

      <h3 class="pb-4 mb-4 font-italic border-bottom text-center">
        Here are the Items we deliver you at the Best price.You have to just call us.
      </h3> {% endcomment %}
{% comment %} 
      <div class="blog-post">
        <h4 class="blog-post-title">I am Nadim Akram , I use to build websites for your buisness ...</h4>
        <p class="blog-post-meta">Jun 1, 2020 by <a href="/contact">Mark</a></p>

        <p>I have built this site with the help of Django ,Bootstrap. Basic typography, images, and code in HTML.</p>
        <hr>
        <p>what is Django <a href="https://docs.djangoproject.com/en/3.0/">chek it out for editorial of django</a>| django is a framework to develope web apps...</p>
        <blockquote>
          <p>I have build multiple of websites. Websites can boost your buisness on peak<strong>If you have a buisness of anything</strong> it may be your gym ,your grocery store your medice store or even your <strong>malls</strong> You can contact on me to build your beautifull websites. Click on this link to get connected with my office <a href="/contact">contact<a/>..</p>
        </blockquote>
    
        <h2>Method of building a website from inception to deployment</h2>
        
        <h4><strong>Step 1</strong></h4>
        <h6>Learn HTML ,CSS  ,  JAVASCRIPT  ,</h6>
        <p></p>
        <h4>Step  2</h4>
        <h6>Purchase a Domain name</h6>
        <p>The domain name is your website name and address. That address is used by visitors when they try to find your site through their web browsers..</p>
        <pre><code>Example GoDaddy, Digital ocean etc</code></pre>
        <p>they are the eg of domain name provider</p>
        <p>If you haven’t registered or chosen a domain name for your website, here are some tips to help you out:

If you’re making a website for a business, your domain name should match your company name. For example: YourCompanyName.com
If you’re planning to set up a personal website for yourself then YourName.com can be a great option.
Use a “generic” domain name extension such as .com, .net or .org if your goal is international visitors. Use a “local” domain name extension such as .de, .fr, or .ru if your goal is country-targeted visitors.
Don’t worry if your preferred domain name is already taken. There are more than 300 million different domain names registered, but there are a billion other possibilities that are still available.</p>
        <p> Don’t worry if your preferred domain name is already taken. There are more than 300 million different domain names registered, but there are a billion other possibilities that are still available.:  </p>
        <h4>step 3</h4>
        <h5>Host on internet</h5>
        <p>you may host your website on cloud (AWS,GOOGLE CLOUD ,OPENSTACK, AZURE, HEROKU... etc</p>
        <ul>
          <li>These are very trusted websites and platform who provides the hosting features.</li>
          <li>Cloud hosting will be always better option instead of purchasing own server.</li>
          <li>If this is a hectic task for you then give me porposal of your all headache.</li>
        </ul>
        <p>So what are you thinking about dude.</p>
        <ol>
          <li>Don't waste your time to becoming top on this competitive world where every one are just trying to leave you behind</li>
          <li>Go on contact page and follow us on social media or call us to fix your appointment....</li>
        </ol>
      </div><!-- /.blog-post --> {% endcomment %}

      {% comment %} <div class="blog-post">
        <h2 class="blog-post-title">What is corona virus</h2>
        <p class="blog-post-meta">june 23, 2020 by <a href="#">corona</a></p>

        <p>To know about corona virus go on official website of ministry of health india <a href="https://www.mohfw.gov.in/">MOHOFFICIAL</a> <strong>
The virus that causes COVID-19 is mainly transmitted through droplets generated when an infected person coughs, sneezes, or exhales. These droplets are too heavy to hang in the air, and quickly fall on floors or surfaces.
You can be infected by breathing in the virus if you are within close proximity of someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth.</strong>.</p>
    

      <div class="blog-post">
        <h4 class="blog-post-title">How to mitogate the spread of covid-19</h4>
        <p class="blog-post-meta">june 14, 2020 by</p>

        <p>To prevent the spread of COVID-19: </p>
        <ul>
          <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.t.</li>
          <li>Don’t touch your eyes, nose or mouth..</li>
          <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
Stay home if you feel unwell..</li>
          <li>Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively, therefore protecting you and others.</li>
        </ul>
      </div><!-- /.blog-post --> {% endcomment %}
<section class="text-gray-700 body-font">
  <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="/static/images/logo.png">
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-8 font-medium text-gray-900">Welcome to Aapki Apni Pasand </h1>
      <h4 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">We are the only one who promise to deliver all the Ration itmes at your door with no extra charges</h4>
      <p class="mb-8 leading-relaxed">We are very happy to have you here and serve you. We believe the comforts of customer. We know this is very hectic jobs to go on market and purchase the Ration at different diffrent place. We have started the idea to deliver the product of ration at everyone's home with the same market price rate in Muzaffarpur.You may think is this all possible ? Are you really providing all the items at market price ? Our answer is yes! You just contact us and order your list of items we and our team will deliver the products as soon as possible</p>
      <div class="flex w-full justify-center">
        <input class="border-0 bg-gray-100 rounded mr-4 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 lg:w-full xl:w-1/2 w-2/4 md:w-full" placeholder="Placeholder" type="text">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Order Now</button>
      </div>
      <p class="text-sm mt-2 text-gray-1000 mb-8 w-full">Please make your Order Right Now.</p>
      <div class="flex">
        <button class="bg-gray-200 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-300 focus:outline-none">
        
          <span class="ml-4 flex items-start flex-col leading-none">
            <span class="text-xs text-gray-600 mb-1">Call US</span>
            <span class="title-font font-medium ">Contact Us</span>
          </span>
        </button>
        <button class="bg-gray-200 inline-flex py-3 px-5 rounded-lg items-center ml-4 hover:bg-gray-300 focus:outline-none">
         
          <span class="ml-4 flex items-start  flex-col leading-none">
            <span class="text-xs text-gray-600 mb-1">Go to service page</span>
            <span class="title-font font-medium">Call us</span>
          </span>
        </button>
      </div>
      <h4 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-600">These are the items you can order </h4>
    </div>
  </div>
</section>


<hr>

<hr>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/images/rest.jfif">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Fresh Goods</h2>
          {% comment %} <p class="mt-1"></p> {% endcomment %}
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/images/cooking.jfif">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Cooking Essentials</h2>
          <p class="mt-1">$</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://source.unsplash.com/422x263/?pastas,rice,jam,flour">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Dry Goods</h2>
          <p class="mt-1">$12.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/images/packables.jfif">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Packables & Snackables</h2>
          <p class="mt-1">$18.40</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/images/seasoning1.jfif">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Seasoning</h2>
          <p class="mt-1">$16.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/images/meat.jfif">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Freezer Stash</h2>
          <p class="mt-1">$21.15</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://source.unsplash.com/422x266/?rice,crackers">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Pantry Goods</h2>
          <p class="mt-1">$12.00</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://source.unsplash.com/422x262/?supermarket">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Rests</h2>
          <p class="mt-1">$18.40</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Welcome to Muzaffarpur one and only online grocery store. Where you can get all your requirement fullfilment</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever the things you are searching for , we are here to provide all your kitchen needs , all the items of your breakfast to dinner and everything. Yes this is just only call based service but as soon this will be totally oline whenever you wish you visit our sites and know the current rate of price and order that. For now we delivering the items of your order via call</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d1.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Cooking Essentials</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">All items of housing essentials</h1>
            <p class="leading-relaxed">Coconut oil | Baking soda | olive oil | soya sauce | sugar/honey | brown sygar| white vinegar| Baking Powder.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d0.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Washing powder</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Wasing elements</h1>
            <p class="leading-relaxed">AREIL | SURF eXCEL | RIN | LIFE BOY | SHAMPOO | And all other best washing element in market .</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d2.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Fest special</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Raksha Bandhan special</h1>
            <p class="leading-relaxed">We provide special items and special offer in the festival , we offer special items for Eid | Diwaali | Raksha bandhan | chatt special items.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d3.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Daily saving</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Get special saving</h1>
            <p class="leading-relaxed">order products and get every day some extra benifits.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d4.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Grocery</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Organic grocery store</h1>
            <p class="leading-relaxed">Salt | sugar | maida | flour | rice | razma | and other so many grocery items at best price.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d5.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Mansoon spepcial</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Cofee and tea</h1>
            <p class="leading-relaxed">Eat and have some mansoon special items at very affordable price ... Cofee | Tea | lemon tea | best company included nescafe and other of your choice</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d6.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Chinese kitchen</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Chowmin | maggi | momo | paztaa </h1>
            <p class="leading-relaxed">order all chinese kitchen items whatever your heart is compelling you to buy.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d7.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Bada pack </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Chawal | Aata | Daal </h1>
            <p class="leading-relaxed">India gate chawal (10 kg, 25kg)| biryani chawal (glaxy) | flour 10kg | DAaal. And other too much store</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d8.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SNACKS</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">All variety of snack and chocklate are available </h1>
            <p class="leading-relaxed">Parle | dream lite | chocko bar | Dairy milk | 5 stars | and many too are available .</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d9.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Namkeen </h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The all brands of namkeen are availabe</h1>
            <p class="leading-relaxed">Lays | kurkure | Bingo | tomato flaovour | Mixture | Daalboot.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d11.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Pet Food</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">order food for your pet</h1>
            <p class="leading-relaxed">all variety  of pet foods are available.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/d10.jpeg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">save on chinese items<h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Idli sambhar | Maggie | chowmin | Pazta | Gulaab jamuun| Custard powder</h1>
            <p class="leading-relaxed">And there are many others too.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<hr>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed text-lg">Above items are the just group of items each items consist of multiple items. We are very happy to say you that you dont take any point of headache to go on market to purchase all . You sit at your home and call to our number and wait at your home to receive your ration. It may take times sometimes so you try to call us before half hour that our delivery person can get you at their own ease.To watch all the product list and menu items please click on Menu items</p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Md Kashif</h2>
      <p class="text-gray-500">Founder of Aapki Apni Pasand</p>
    </div>
  </div>
</section>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="https://twitter.com/Nadimakram901">MY twitter profile</a>
        <a class="btn btn-outline-primary" href="https://www.facebook.com/nadim.akram.3158">MY Facebook Profile</a>
      </nav>

    </div>
</div>



<hr>
<footer class="text-gray-700 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Aapki Apni Pasand</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 all right reserved —
      <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">akramnadim1999@gmail.com</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>
{% endblock body%}